<% provide(:title, "Dictionaries") %>

<div class="row">
  <div class="col-6">
    <h1 class="display-4">
      <%= link_to 'Dictionaries', languages_path %>
    </h1>
  </div>

  <% if @languages.size == 0 %>
      <div class="col-10" id="first_dictionary">
        <%= link_to "Create your first dictionary now!", dictionaries_path, class: "btn btn-outline-success btn-lg btn-block" %>
      </div>
  <% else %>
      <div class="col-6">
        <%= link_to "New dictionary", dictionaries_path, class: "btn btn-outline-secondary float-right margin_bottom margin_top" %>
      </div>
  <% end %>

</div>

<% @languages.each_slice(2) do |row| %>
    <div class="card-deck">
      <% row.each do |language| %>
          <% language_id = @languages_ids.find_by(name: language[0])[:id] %>
          <div class="card margin_bottom">

            <%= link_to(dictionaries_path(language: language_id)) do %>
                <div class="card-block">
                  <h4 class="card-title">
                    <% language_id = @languages_ids.find_by(name: language[0])[:id] %>
                    <%= language[0] %>
                  </h4>
                  <p class="card-text">
                    <% last = Dictionary.where(user_id: @current_user, language_id: language_id).order(created_at: :desc).first %>
                    <small class="text-muted">Latest addition
                      <% day_count = (Date.today - last.created_at.to_date).to_i %>
                      <% if day_count == 0 %>
                          today
                      <% else %>
                          <%= day_count.to_s + " ago" %>
                      <% end %>
                    </small>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted text-right"><%= pluralize(language[1], 'word') %></small>
                </div>
            <% end %>

          </div>
      <% end %>
    </div>
<% end %>
