<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: @user %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "E-mail", disabled: logged_in?, required: true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Retype password", required: true %>
    </p>
    <p>
      <%= f.label :mother_language, "Mother language" %>
      <%= f.select :language_id, @language_list.map {|lang| [lang.name, "#{lang.id}"]} %>
    </p>
    <p class="text-right"><%= f.submit yield(:button_text), class: "btn btn-lg btn-success" %></p>
<% end %>