<% provide(:title, 'All users') %>

<div class="row align-items-center">
  <div class="col">
    <h1 class="display-4">
      <%= link_to 'All users', users_path %>
    </h1>
  </div>

  <div class="col">
    <% if params[:term] %>
        <%= link_to users_path, class: "btn btn-outline-danger margin_bottom margin_top margin_left float-right", 'aria-label': "Close" do %>
            <span><%= 'Filter: ' + params[:term] %></span>
            <span aria-hidden="true">&times;</span>
        <% end %>
    <% end %>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Avatar</th>
    <th>User name</th>
    <th>E-mail</th>
    <th></th>
  </tr>
  </thead>

  <tbody id="users">
  <%= render @users %>
  </tbody>

</table>

<%= will_paginate @users %>