<% provide(:title, 'All users') %>

<h1>All users</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Avatar</th>
    <th>User name</th>
    <th>E-mail</th>
    <th><%= render 'layouts/pagination', table: @users %></th>
  </tr>
  </thead>

  <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="text-right">
          <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "delete", user, method: :delete, data: {confirm: "The user " + user.name + " will be deleted."}, class: "btn btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= render 'layouts/pagination', table: @users %>