<% provide(:title, "Profile") %>

<h1 class="display-4">Profile</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row row justify-content-center">
      <div class="col-lg-5 col-md-7 col-sm-10">
        <%= gravatar_for @user %>
        <h1 class="only-bottom-margin"><%= @user.name %></h1>
        <span class="text-muted">Email: <%= @user.email %></span><br>
        <span class="text-muted">Mother language: <%= @language %></span><br>
        <span class="text-muted">Registred: <%= @user.created_at %></span>
      </div>
    </div>
  </div>
</div>