<% provide(:title, "Profile") %>

<h1>Profile</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= gravatar_for @user %>
        <h1 class="only-bottom-margin"><%= @user.name %></h1>
        <span class="text-muted">Email:</span> <%= @user.email %><br>
        <span class="text-muted">Groups:</span>
        <% @groups_member.each do |gm| %>
            <%= gm.group.name %>
        <% end %>
        <br>
        <small class="text-muted">Registred: <%= @user.created_at %></small>
      </div>
    </div>
  </div>
</div>