<tr>
  <td class="text-left"><%= dictionary.word %></td>
  <td class="text-left"><%= dictionary.translation %></td>
  <td class="text-left">
    <% categories_for_word(dictionary.id).each do |cat| %>
        <button type="button" class="btn btn-sm btn-outline-secondary margin_bottom"><%= cat.category.name %></button>
    <% end %>
  </td>
  <td>
    <div class="btn-group float-right" role="group" aria-label="Actions">
      <%= link_to 'Details', dictionary_path(dictionary), class: "btn btn-outline-success" %>
      <%= link_to 'Edit', edit_dictionary_path(dictionary), class: "btn btn-outline-info" %>
      <%= link_to 'Delete', dictionary_path(dictionary), method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </td>
</tr>