<%= form_for dictionary do |f| %>
    <div class="form-group">
      <div class="row">

        <div class="col-5">
          <%= f.text_field :word, class: "form-control form-control-lg", placeholder: "Word" %>
        </div>

        <div class="col-5">
          <%= f.text_field :translation, class: "form-control form-control-lg", placeholder: "Translation" %>
        </div>

        <div class="col-2">
          <div class="btn-group float-right" role="group" aria-label="Actions">
            <%= f.submit "Save", class: "btn btn-outline-secondary btn-lg" %>
            <%= f.submit "Translate", class: "btn btn-outline-secondary btn-lg", disabled: true %>
          </div>
        </div>

      </div>
    </div>
<% end %>
