<%= form_for dictionary do |f| %>
    <div class="form-group">

      <div class="row">
        <div class="col-6">
          <%= f.text_field :word, class: "form-control form-control-lg", placeholder: "Word" %>
        </div>

        <div class="col-6">
          <%= f.text_field :translation, class: "form-control form-control-lg", placeholder: "Translation" %>
          <% if params[:language] %>
              <%= f.hidden_field :language_id, value: params[:language] %>
          <% end %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 margin_top">
          <% unless @language_list.nil? %>
              <%= f.select :language_id, @language_list.map {|lang| [lang.name, "#{lang.id}"]}, {selected: params[:language], required: true}, {class: "custom_select"} %>
          <% end %>
        </div>

        <%= f.fields_for :dictionaries_category do |dc| %>
            <div class="col-6 margin_top">
              <% unless @categories_list.nil? %>
                  <%= dc.select :category_id, @categories_list.map {|cat| [cat.name, "#{cat.id}"]}, {prompt: "Select category"}, {class: "custom_select"} %>
              <% end %>
            </div>
        <% end %>

      </div>
      <div class="row">
        <div class="col-12 margin_top">
          <div class="btn-group float-right" role="group" aria-label="Actions">
            <%= f.submit "Save", class: "btn btn-outline-secondary btn-lg" %>
            <% unless @language_list.nil? %>
                <%= f.submit "Translate", class: "btn btn-outline-secondary btn-lg" %>
            <% else %>
                <%= link_to "Back", dictionaries_path(language: @dictionary.language_id), class: "btn btn-outline-secondary btn-lg float-right" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
<% end %>