<% provide(:title, "Dictionary") %>
<h1>
  <% if Language.find_by(id: params[:language]) %>
      <%= Language.find_by(id: params[:language]).name %>
  <% else %>
      Dictionary
  <% end %>
</h1>

<% # TODO %>
<% # OPTIMIZE %>
<% # FIXME %>

<%= render 'form', dictionary: Dictionary.new %>

<% unless @dictionaries.empty? %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">Word</th>
        <th class="text-center">Translation</th>
        <th class="text-left">Categories</th>
        <th><%= render 'layouts/pagination', table: @dictionaries %></th>
      </tr>
      </thead>
      <% @dictionaries.each do |record| %>
          <tr>
            <td class="text-center"><%= record.word %></td>
            <td class="text-center"><%= record.translation %></td>
            <td class="text-left">
              <% categories_for_word(record.id).each do |cat| %>
                  <button type="button" class="btn btn-sm btn-outline-secondary margin_bottom"><%= cat.category.name %></button>
              <% end %>
            </td>
            <td>
              <div class="btn-group float-right" role="group" aria-label="Actions">
                <%= link_to 'Details', dictionary_path(record), class: "btn btn-outline-success" %>
                <%= link_to 'Edit', edit_dictionary_path(record), class: "btn btn-outline-info" %>
                <%= link_to 'Delete', dictionary_path(record), method: :delete, class: "btn btn-outline-danger" %>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>

<%= render 'layouts/pagination', table: @dictionaries %>