<% provide(:title, "Dictionary") %>

<div class="row">

  <div class="col">
    <h1 class="display-4">
      <% if Language.find_by(id: params[:language]) %>
          <%= link_to Language.find_by(id: params[:language]).name, dictionaries_path(language: params[:language]) %>
      <% else %>
          Dictionary
      <% end %>
    </h1>
  </div>

  <div class="col">
    <% if params[:term] %>
        <%= link_to dictionaries_path(language: params[:language], category_id: params[:category_id]), class: "btn btn-outline-danger margin_bottom margin_top margin_left float-right", 'aria-label': "Close" do %>
            <span><%= 'Filter: ' + params[:term] %></span>
            <span aria-hidden="true">&times;</span>
        <% end %>
    <% end %>
    <% if params[:category_id] %>
        <%= link_to dictionaries_path(language: params[:language], term: params[:term]), class: "btn btn-outline-danger margin_bottom margin_top margin_left float-right", 'aria-label': "Close" do %>
            <span><%= 'Filter: ' + Category.find(params[:category_id]).name %></span>
            <span aria-hidden="true">&times;</span>
        <% end %>
    <% end %>
  </div>

</div>

<% # TODO %>
<% # OPTIMIZE %>
<% # FIXME %>

<%= render 'form', dictionary: Dictionary.new %>

<% unless @dictionaries.empty? %>
    <table class="table table-hover">

      <thead>
      <tr>
        <th class="text-left">Word</th>
        <th class="text-left">Translation</th>
        <th class="text-left">Categories</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="dictionaries">
      <%= render @dictionaries %>
      </tbody>

    </table>
<% end %>

<div class="row justify-content-center">
  <%= will_paginate @dictionaries %>
</div>

