<% provide(:title, "Dictionary") %>
<h1>Dictionary</h1>

<% # TODO %>
<% # OPTIMIZE %>
<% # FIXME %>

<%= render 'form', dictionary: Dictionary.new %>
<%= render 'layouts/pagination', table: @dictionaries %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Word</th>
    <th>Translation</th>
    <th>Note</th>
    <th></th>
  </tr>
  </thead>

  <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= dictionary.word %></td>
        <td><%= dictionary.translation %></td>
        <td><%= dictionary.note %></td>
        <td>
          <div class="btn-group float-right" role="group" aria-label="Actions">
            <%= link_to 'Details', dictionary_path(dictionary), class: "btn btn-outline-success" %>
            <%= link_to 'Edit', edit_dictionary_path(dictionary), class: "btn btn-outline-info" %>
            <%= link_to 'Delete', dictionary_path(dictionary), method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<%= render 'layouts/pagination', table: @dictionaries %>